@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap');

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('../fonts/Gilroy-Bold.woff2') format('woff2'),
      url('../fonts/Gilroy-Bold.woff') format('woff'),
      url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-black.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-black.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-black.woff2") format("woff2"), url("../fonts/gilroy-black.woff") format("woff"), url("../fonts/gilroy-black.ttf") format("truetype"), url("../fonts/gilroy-black.svg#gilroy-black") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 900;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-semibold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype"), url("../fonts/gilroy-semibold.svg#gilroy-semibold") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-regular.svg#gilroy-regular") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-medium.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg#gilroy-medium") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 500;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid none;
  -webkit-text-fill-color:none;
  -webkit-box-shadow: none;
  transition: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: none;
  -webkit-box-shadow: none;
  transition: none;
}
html{
  padding: 0;
  margin: 0;
}
input:focus {
  outline: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all .3s ease;
  margin: -1px;

}
*{
  transition: all 0.3s ease;
}
ul[class],
ol[class] {
  padding: 0;
}

body,
button,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
span,
a,
dd {
color: inherit;
  margin: 0;
  font-family:'Gilroy';
}
.burger-menu{
  display: none;
 
}
.wrapper{
  overflow: hidden;
  overflow-y: hidden;
}
.burger-menu_logo{
  display: none;
}


body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}
section{
  position: relative;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
          color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a, li{
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100vw;
    background: #fff;
    font-family: 'Gilroy';
    font-style: normal;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    
}
.burger{
  display: none;
}
.header{
  width: 100vw;
  height: 100px;
  background:  #ADC430;

}
.header_inner{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_inner_ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.167vw;
  li{
    a{
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }
  li:hover{
    a{
     border-bottom: 1px solid #fff;
    }
  }
}
.recal{
  display: block;
  font-family: 'Gilroy';
font-weight: 500;
font-size: 20px;
line-height: 24px;
background: #FFFFFF;
border-radius: 100px;
padding: 10px 20px;
  color: #703333;
}
.sidebar_intro {
  position: fixed;
  top: 50%;
  right: -165px;
  transform: translateY(-50%);
  width: 165px;
  height: 330px;
  transition: all 0.3s ease-in-out;
  z-index: 5;

}
.sidebar_intro_btn{
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100px;
  background: rgba(90, 50, 21, 1);
  height: 300px;
  border-radius: 28px 0px 0px 28px;
  margin-left: -100px;
  button:nth-child(1), button:nth-child(2){
    border-bottom: 1px solid #fff;
  }
  button{
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: none;
    padding:15px 30px ;
    height: 100px;
    width: 100px;
    transition: all 0.3s ease;
    img{
      width: 50px;
      height: auto;
    }
    img:last-child{
      height: 100px;
      object-fit: contain;
      transform: scale(1.2);
    }
  }
  button:first-child{

    border-radius: 26px 0px 0px 0;
  }
  button.active{
    background: #5CC419;
    animation:button_apperation 0.3s ease;
  }
  button:last-child{
    border-radius:  0 0px 0px 26px;
  }
}
.sidebar_menu_txt{
  display: block;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 19.802px;
line-height: 24px;
background: #FFFFFF;
border-radius: 6.98895px;
width: 45px;
height: 25px;
color: #5A3215;
}
.sidebar_intro.opened {
  display: block;
  right: 0;
  width: 820px;
  height: 400px;
  background: #FFFFFF;
  box-shadow: 0px 3.54566px 21.2739px rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.submenu_title{
  display: flex;
  align-items: center;
  gap: 20px;
img{
  width: 25px;
  height: 25px;
}
  h3{
    font-family: 'Montserrat';
font-weight: 600;
font-size: 40px;
line-height: 49px;
color: #522424;

  }
}
.submenu_intro {
  opacity: 0;
  display: none;
  padding: 15px 45px;
  max-height: 0;
  transition: opacity 0.3s ease;
  span{
    color: #5A3215;
  }
}

.submenu_intro.active {
  animation: opacity_submenu 1s ease;
  opacity: 1;
  transition: opacity 1s ease;
  display: block;
}
@keyframes opacity_submenu{
  0%{
    display: block;
    opacity:0;
  }
  100%{
    opacity: 1;
  }

}
@keyframes button_apperation{
  0%{
    background: #5A3215;
  }
  100%{
    background: #5CC419;
  }
}

.submenu_empty{
  display: flex;
  align-items: center;
  gap: 25px;
}
.submenu_empty_txt{
  margin-top: 15px;
  max-width: 400px;
  width: 100%;
  h1{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 10px; 
  }
  p{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
  }
 .btn{
  width: 220px;
  height: 50px;
  background: radial-gradient(50% 50% at 50% 50%, #D8FF00 0%, #EDFF8B 0.01%, #EFFF3D 100%);
box-shadow: 0px 1.85497px 6.49241px rgba(63, 74, 0, 0.75), inset 0px -1.85497px 0px #ADC430;
border-radius: 9.27487px;
  span{
    font-size: 18px;
    line-height: 22px;
  }
 }
}
.btn:hover{
transform: scaleX(1.1);

}
.btn:hover span {
  transform: scaleX(.9) translate(-55%,-50%);
}
.submenu_full_favorite{
  height:300px ;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.submenu_full_favorite_item{
  position: relative;
  margin-top: 20px;
  img{
    width: 150px;
    height: 190px;
  }
  .btn{
   width: 155px;
   height: 40px;
   margin-top: 20px;
background: radial-gradient(50% 50% at 50% 50%, #D8FF00 0%, #EDFF8B 0.01%, #EFFF3D 100%);
box-shadow: 0px 1.54197px 5.39689px rgba(63, 74, 0, 0.75), inset 0px -1.54197px 0px #ADC430;
border-radius: 7.70984px;
   span{
    font-size: 14.96px;
    white-space: nowrap;
   }
  }
  .btn_close{
    img{
      width: 25px;
      height: 25px;
      border-radius: 100%;
    }
    position: absolute;
    top: 5px;
    right: 40px;
    cursor: pointer;
  
  }
}
.header_intro{
  position: absolute;
  z-index: 6;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap:30px ;
right: 10%;
}
.wrapper{
  width: 100%;
  overflow: hidden;
}
.header_intro_inner_card, .header_intro_inner{

  display: flex;
  align-items: center;
    justify-self: flex-start;
}
.header_intro_inner_card{
  gap: 10px;
}
.header_intro_inner{
  gap: 40px;
  a{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding:8px 15px ;
  }
}
.header_intro_inner a:last-child{
  border-radius: 100px;
  color: #5A3215;
  background: #fff;

}
.header_intro_inner a:hover{
border-bottom: 1px solid #fff;
}
.header_intro_inner a:last-child{
  border-bottom: none;
  }
.header_intro_inner_card a:hover{
  transform: scale(1.1);
}
section{
  position: relative;
}
.intro{
  min-height: 1000px;
  overflow: hidden;
}
.intro_inner{
  display: flex;
  width: 100%;
  height: 100%;
}
.intro_left{
  width: 100%;
  height: 100%;
}
.intro_right{
  position: absolute;
  right: 0;
  top: 0;
width: 55%;
  height: 1005px;
  background:#ADC330 ;
}
.intro_right_inner{
  h1{
    color: #fff;
    max-width: 650px;
    font-family: 'Montserrat';
font-weight: 900;
font-size: 60px;
line-height: 73px;
  }
  p{
    display: none;
  }
}
.intro_right_inner{
  margin-left: 128px;
  margin-top: 300px;
}
.intro_btn{
  height: 100%;
  width: 100%;
}
.intro_btn{
  margin-top: 100px;
}
.intro_rostok{
  position: absolute;
  z-index: 3;
  left:12%;
  bottom: -100px;
  
  img{
    width: 1000px;
    height:740px ;
    object-fit: contain;
  }
}
.intro_dirt_top{
  position: absolute;
  top: 0;
  left: 0;
}
.intro_dirt_bottom{
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn{
  position: relative;
  z-index: 5;
  cursor: pointer;
  background: radial-gradient(50% 50% at 50% 50%, #D8FF00 0%, #EDFF8B 0.01%, #EFFF3D 100%);
box-shadow: 0px 4px 14px rgba(63, 74, 0, 0.75), inset 0px -4px 0px #ADC430;
border-radius: 20px;
width: 400px;
height: 100px;
position: relative;
  cursor: pointer;
a,span{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #703333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
}


.intro_left_inner{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  position: relative;
  z-index: 2;
  margin-top: 130px;
  margin-left: 20px;
 
 
}
.intro_left_item {
  animation: moveBlocks 1s infinite;
  h1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 149.425px;
line-height: 182px;
text-transform: uppercase;
color: #EFEFEF;
  }
}

.intro_left_item:nth-child(1) {
  animation: moveBlocks1 12s infinite;
}

.intro_left_item:nth-child(2) {
  animation: moveBlocks2 12s infinite;
}

.intro_left_item:nth-child(3) {
  animation: moveBlocks3 12s infinite;
}

@keyframes moveBlocks1 {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveBlocks2 {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-100%);
  }
  66% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveBlocks3 {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
.intro_anim{
  position: absolute;
  z-index: 3;
}
.intro_anim.listok1{
  top:-100px ;
  left: 10%;
}
.intro_anim.listok2{
  top:10% ;
  left: 60%;
}
.intro_anim.listok3{
  bottom:10% ;
  right: 20%;
}

.advantages{
  min-height: 600px;

  .listok2{
    left: 3%;
    top: 0;
  }
  .listok3{
    right: 0;
    left: auto;
    bottom: 10%;
  }
}
.advantages_inner{
  margin-top: 80px;
}
.title{
  h1{

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    color: #522424;
  }
}
.advantages_title{
  position: relative;
  z-index: 4;
}
.advantages_item{
  margin-top: 80px;
  min-height: 250px;
  max-width: 360px;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(143, 143, 143, 0.25);
  border-radius: 21px;
  display: flex;
  align-items: center;
}
.advantages_item_img{
  transform: scale(2.2) translate(-5%, -15%);
}
.advantages_item_txt{
  margin-right: 10px;
  h2{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #522424;
    margin-bottom: 20px;
  }
  p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #522424;
    
  }
}
.advantages_item:hover{
  background: #ADC430;
box-shadow: 0px 4.54829px 15.919px rgba(143, 143, 143, 0.25);
border-radius: 23.8785px;
transform: scale(1.1);
.advantages_item_txt{
  h2,p{

    color: #fff;
  }
}
}
.advantages_main{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.whyWe_inner{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  min-height: 500px;
  background: url('../img/dest/whyWe/line.svg') center 150px/contain no-repeat;
}
.whyWe_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  font-family: 'Montserrat';
  text-align: center;
  color: #522424;
  h1{
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  }
  p{
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }
  img{
    margin-top: 45px;
  }
  
}
.whyWe_item{

}
.whyWe_item:nth-child(2){
margin-top:80px ;
h1{
  margin-top: 20px;
}
p{
  margin-bottom: 0;
}

}
.whyWe_item:nth-child(3){
  margin-top:70px ;
}
.whyWe{
  .listok1{
width: 150px;
height: 70px;
  } 
  .listok2{
    width: 50px;
    height: 20px;
    top: 25%;
  }
  .listok3{
width: 300px;
height: 140px;
right: -100px;
  }
}
.product{
  min-height: 990px;
  .container{
    position: relative;
  }
}
.product_slider{
  margin: 0 auto;
    max-width: 1040px;
} 
.product_slider_item{
  margin: 20px;
  position: relative;
  max-width: 350px;
  min-height: 450px;
  background:#ADC330 ;
  border: 6px solid #ADC330;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  transform: scale(0.8);
  overflow: hidden;
  z-index: 2;
  img{
    border-radius: 23px;
    transform: scale(1.01);
  }
}


.product_slider_item_info{
display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 60px;
h1{
  font-family: 'Montserrat';
font-weight: 400;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #FFFFFF;
}
a{
  display: block;
  width: 34px;
  height: 34px;
  background: url('../img/dest/product_slider/arrow_txt.png') center/cover no-repeat;
}
}

.product_title{
  text-align: center;
  margin-bottom: 50px;
}
.product_slider_item:before{
  content: '';
  width: 101%;
  height: 200px;
  position: absolute;
  bottom: -50px;
  left: 0;
  background:url('../img/dest/product_slider/ellipse.svg') center/cover no-repeat;
  z-index: 1;
}
.product_slider_item_info{
  position: relative;
  z-index: 2;
}
.slick-center{
  transform: scale(1.2)!important;
}


.custom_btn_slider_left,.custom_btn_slider_right{
  cursor: pointer;
  position: absolute; 
  z-index: 5;
  top: 60%;
  transform: translateY(-50%);
}
.custom_btn_slider_right{
  right: -30px;
  top: 50%;
  transform: rotate(180deg) translateY(-50%);
}
.custom_btn_slider_left{
  left: -20px;
}
.recomen{
  z-index: 3;
}
.recomen_title.title{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}
.recomen_slider{
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.11);
 height: 450px;
  margin-bottom: 200px;

  }
.recomen_slider_item{
  margin-top: 50px;
  max-width: 275px;
  min-height: 335px;
  img{
    border-radius: 5px;
  }
  h1{
    font-family: 'Gilroy';
font-weight: 700;
font-size: 19px;
line-height: 16px;
letter-spacing: -0.035em;

color: #5A3215;
  }
}
.recomen_slider{
  padding-left: 20px;
}
.anim_vetka{
  position: absolute;
 
  z-index: 0;
}
.anim_vetka.left{
  animation: vetka1 15s infinite;
  left: -200px;
  top: 0;
}
.anim_vetka.right{
  animation: vetka2 15s infinite;
  bottom: 0vh;
  right: 0;
}
@keyframes vetka1{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(25%);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes vetka2{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(-25%);
  }
  100%{
    transform: translateY(0);
  }
}
.form_intro{
  overflow: hidden;
  height:800px ;
  margin-bottom: 100px;
  .listok1{
    transform: rotate(120deg);
    left: 20px;
    top: 20%;
  }
  .listok2{
    right: 0;
    bottom: -50px;
    top: auto;
    left: auto;
    transform: scale(1.5);
    
  }
  .malina1{
    left: 0;
    bottom: 0;
  }
  .malina2{
    right: 0;
    top: 10%;
  }
}
.form_intro_left{
  position: relative;
  width: 50%;
  img{
    position: absolute;
    bottom: 0;
    right: -7vw;
  }
}
.form_intro_right{
  height: 800px;
  width: 50%;
  background:url('../img/dest/form/fog.png') left bottom/contain no-repeat,#ADC430;
  padding:70px 70px 0 ;
}
.form_intro_inner{
  display: flex;
}
.form_title{
  font-family: 'Montserrat';
font-weight: 700;
font-size: 40px;
line-height: 49px;
text-transform: uppercase;
color: #FFFFFF
}
.form_subtitle{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: -0.035em;
color: #FFFFFF;

}
.intro_form{
  margin-top:40px ;
}
.intro_form_label{
  padding-left: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  height: 85px;
  width: 360px;
  background: #fff;
  border-radius: 26.1687px;
  margin-bottom: 20px;
  input{
    border: none;
    font-family: 'Gilroy';
font-weight: 400;
font-size: 16px;
line-height: 126%;
color: #737373;
  }
}

.form_send{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%, #D8FF00 0%, #EDFF8B 0.01%, #EFFF3D 100%);
  box-shadow: 0px 4px 14px rgba(63, 74, 0, 0.75), inset 0px -4px 0px #ADC430;
  border-radius: 20px;
  width: 360px;
  height: 100px;
  position: relative;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #703333;
    border: none;
    margin-top: 50px;
  
}
.catalog_intro{
  height: 600px;
  overflow: hidden;
}
.catalog_intro_bg{
  position: absolute;
    left: -50px;
  right: -50px;
  top: 0;
  inset: 0;
  animation: moove 10s infinite;
  img{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
#shop-button{
  img{
    margin-left: -10px;
  }
}
@keyframes moove{
  0%{
    transform: translateX(10px) scale(1.03);
  }
  25%{
    transform: translateX(0) scale(1.01);
  }


  50%{
    transform: translateX(-10px) scale(1.01);
  }
  25%{
    transform: translateX(0) scale(1.02);
  }
  100%{
    transform: translate(10px) scale(1.03);
  }
}
.catalog_intro_inner{
  position: relative;
  margin-top: 100px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog_intro_title{
 
h1{
  color:#522424;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 92.5234px;
  line-height: 113px;
  text-align: center;
}

}
.catalog_intro_inner_item{
  a{
    display: block;
    border-radius: 193px;
margin-bottom: 20px;
    background: #fff;
    width: 240px;
    height: 40px;
    span{
      padding: 8px 0;
      display: block;
      text-align: center;
      font-family: 'Gilroy';
      font-weight: 500;
      font-size: 22px;
        line-height: 26px;
      letter-spacing: -0.035em;
      color: #5A3215;

    }
  }
}
.catalog_intro_inner_catalog{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  gap:30px ;
}
.catalog_intro_inner_item a:hover{
  background: #703333;

}
.catalog_intro_inner_item a span:hover{
  color: #fff;

}

.catalog_intro_inner_item:first-child a:not(:first-child) {
  transform: translateX(-40px);
}
.catalog_intro_inner_item:last-child a:not(:first-child) {
  transform: translateX(40px);
}
.catalog_btn{
  position: relative;
  width: 400px;
  margin-top: 40px;
  height: 105px;
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  span{
    font-size: 20px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
  }
  img{
   

    transform: rotate(90deg) ;
    display: block;
    width: 30px;
    height: 30px;
  }
}
.catalog_btn.btn:hover span{
  transform: translate(0) scaleX(.9);

}
.shop{
  margin-top:30px ;
  margin-bottom: 100px;
}
.shop_inner{
  display: flex;
  gap: 50px;
}

.search_bar{
  margin: 5 0px 0;
  display: flex;
height: 60px;
  width: 100%;
  background:#ECECEC;
  border-radius: 74px;
  align-items: center;
  justify-content:s;
  padding: 0 30px;
  gap: 20px;
}

.search_btn{
  img{
    width: 30px;
    height: 30px;
  }
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}
.search_input{
  border: none;
  background: none;
  width: 100%;
  min-width:250px ;
}
.search_bar.popup{
  max-width: 1140px;
  margin: 50px auto 0;
}
.search_bar_popup{
  position: fixed;
  top: -200px;

  z-index: 11;
  width: 100%;
align-items: center;
height:175px ;
background: #fff;

}
.search_bar_popup.active{
  top: 0;
}
.show_content{
  flex: 70%;
}
.shop_filter{
  flex: 30%;
}
.shop_filter_title{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
  font-family: 'Gilroy';
font-weight: 600;
font-size: 25px;
line-height: 30px;
letter-spacing: -0.035em;
color: #5A3215;
img{
  width: 30px;
  height: 30px;
    margin-bottom: -15px;
}
}
.shop_content{
  width: 100%;
}
.shop_filter{
  padding:40px 30px ;
  min-height: 100vh;
  max-width: 100vh;
  background: #F1FFA3;

}
.shop_accordion{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}
.shop_accordion-header {
  cursor: pointer;
  padding:10px 15px  10px 40px ;
  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  border-radius: 19px;
  height: 50px;
  font-family: 'Gilroy';
font-weight: 500;
font-size: 22px;
line-height: 27px;
letter-spacing: -0.035em;
display: flex;
justify-content: space-between;
align-items: center;
img{
  width: 12px;
  height: 12px;
}


}

.shop_accordion-content {
  display:block;
  max-height:0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  margin-top: 10px;
  ul{
    margin-left: 10%;
    margin-right: auto;
    li{
     list-style-type:disc;
     
     a{
      color:rgba(90, 50, 21, 1);
      margin-right: 15px;
      font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 22px;
letter-spacing: -0.035em;
      display: flex;
      text-align: left;
      align-items: center;
      justify-content: space-between;
      
      img{
        width: 12px;
        height: 12px;
      }
     }
    }
  }
}



.shop_accordion-content#active {
  max-height: 100vh;
  transition: max-height 0.5s ease-in;
}

.shop_accordion-header.active  {
  font-weight: 700;
  color: #3D8B00;
  img{
    transform: rotate(90deg);
  }

 }

 .dopcontent {
  display: none;
  padding: 10px;
  background-color: #f0f0f0;
}

.accordion-item.active .dopcontent {
  display: block;
}

.shop_price_slider{
  position: relative;
  max-width: 170px;
  margin: 30px auto;
}
/* Стилизация ползунка */
#price-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid black;
  outline: none;
}
.price_slider_title{
  font-family: 'Gilroy';
font-weight: 500;
font-size: 25px;
line-height: 29px;
letter-spacing: -0.035em;
color: #5A3215;
margin-bottom: 20px;
margin-left: 20px;
}
#price-slider .ui-slider-range {
  height: 2px;
  background-color: rgba(90, 50, 21, 1);
  border: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Стилизация текстовых полей */
#min-price,
#max-price {
  position: absolute;
  width: 50px;
  top: 80px;
  text-align: center;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(90, 50, 21, 1);
}

#min-price {
  left: 10px;
}

#max-price {
  right: 10px;
}
.ui-widget.ui-widget-content{
  background: none;
  border: none!important;
}

.catalog_item button{
  border: none;
}

.catalog_item_btn_corzina.btn{
  width: 130px;
  height: 40px;
  color: #522424;
  border-radius: 6.35812px;
  background: radial-gradient(50% 50% at 50% 50%, #D8FF00 0%, #EDFF8B 0.01%, #EFFF3D 100%);
  box-shadow: 0px 1.27162px 4.45068px rgba(63, 74, 0, 0.53), inset 0px -1.27162px 0px #ADC430;
}
.catalog_item{
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 270px;
  min-height: 455px;
  margin-top: 50px;
}
.catalog_item_img{
  border-radius: 4px;
  max-width: 275px;
  height: 335px;
  width: 100%;
  margin-bottom: 10px;
  span{
    padding: 12px 0 0;
    text-align: center;
    position: absolute;
    z-index: 2;
    max-width: 175px;
    height: 50px;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity:1;
    border: 1px solid #FFFFFF;
border-radius: 9px;
font-family: 'Montserrat';
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #FFFFFF;
opacity: 0;
  }
    img{
      border-radius: 4px;
      width: 100%;
    }
}
.catalog_item_img_link{
  border-radius: 4px;
  position: relative;
width: 100%;
height: 100%;
 
}
.catalog_item_img:hover{
  span{
    opacity: 1;
  }
  img{
    filter: brightness(0.5);
  }
}

.catalog_item_btn_izbranoe{
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  width: 30px;
  cursor: pointer;
  height: 30px;
}
.catalog_item_title{
  margin-bottom: 5px;
  h1{

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: -0.035em;
    color: #5A3215;
  }

}
.catalog_item_btn_izbranoe:hover{
  transform: scale(1.4);

}
.catalog_item_price{
  margin-bottom: 15px;
display: flex;
align-items: center;
font-family: 'Gilroy';
line-height: 26px;
letter-spacing: -0.035em;
gap: 10px;
color: #5A3215;
  .price{
    h3{
      font-weight: 500;
      font-size: 22px;
    }
  }
  .colvo{
    font-weight: 300;
    font-size: 15px;
  }
}
.shop_content_catalog{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  grid-template-rows: auto;
}
.catalog_page_num{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.page_num_item{
  cursor: pointer;
  background: #FFFFFF;
  border: 0.5px solid #A5A5A5;
  width: 40px;
  height: 40px;  
  text-align: center;
  font-family: 'Gilroy';
font-weight: 500;
font-size: 22px;
line-height: 26px;
letter-spacing: -0.035em;
color: #5A3215;
  padding:5px 0;
}
.page_num_item:hover, .page_num_item.onPage{
background: #ADC430;
border: none;
}
.card{
  margin-top:40px ;
}
.card_btn_prev{
  display: flex;
  align-items: center;
  gap: 30px;
  min-height: 70px;
  span{
    font-family: 'Gilroy';
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #703333;
  }
}

.card_main_info{
  display: flex;
  gap: 60px;
  margin-bottom: 100px;
}
.tovar_title{
 margin-top: 80px;
h1{
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.035em;
  color: #5A3215;
  margin-bottom: 10px;
}
}
.tovar_price{
  display: flex;
  gap: 10px;
  align-items: center;
}
.tovar_price, .tovar_colvo{
  font-family: 'Gilroy';
font-style: normal;
color: #5A3215;

}
.tovar_price{
font-weight: 500;
font-size: 36px;
}
.tovar_colvo{
font-weight: 300;
font-size: 25px;
}
.tovar_img{
  max-width: 460px;
  width: 100%;
  height: 570px;
img{
  border-radius: 6.78967px;
  object-fit: cover;
}  
margin-bottom:40px ;
}
.card_main_info_top{
  display: flex;
  flex-wrap: wrap;
  li{
    width: 50%;
      font-family: 'Gilroy';
font-weight: 500;
font-size: 25px;
line-height: 29px;
letter-spacing: -0.035em;
color: #5A3215;
margin-bottom:25px ;
    
  }
}
.card_main_info_nav{

display: flex;
  a:first-child{
    border-radius: 20px 0 0 20px;
  }
  a:last-child{
    border-radius: 0 20px 20px 0;
    border: none;
  }

  a{

    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.16);
    display: block;
    min-height: 80px;
    border-right: 1px solid black;
    
    span{
      display: block;
  font-family: 'Gilroy';
  text-align: center;
  margin: 30px 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.035em;
  color: #5A3215;
  border-right: 1px slid #522424;

}
  }
  a:hover{

    background: linear-gradient(180deg, #EFFF3D 0%, rgba(245, 255, 189, 0) 100%);

  }
}
.card_main_info_about{
  margin-top:15px ;
}
.card_main_info_inner{
  width: 60%;
}
.card_main_info_about{
  h1{
    margin-bottom: 15px;
  }
  p{
    width:80%;
font-weight: 500;
font-size: 18px;
line-height: 21px;
letter-spacing: -0.035em;
    margin-bottom:40px ;
  }
  span{
    font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.035em;
color: #ADC430;

  }
}
.card_about_title{
  margin-bottom:40px ;
  h1{
font-weight: 700;
font-size: 50px;
line-height: 60px;
letter-spacing: -0.035em;
color: #5A3215;

  }
}
.card_about{
  p{

    margin-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.035em;
    
    color: #5A3215;
  }
}

.card_recom_title{
  margin-bottom:40px ;
  margin-top: 100px;
  h1{

    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.035em;
    color: #5A3215;
  }
}







      
    
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}


@media (max-width:1651px ){
  .anim_vetka.right{
    img{
      margin: 0;
      height: auto;
      width:300px ;
    }
  }
  .anim_vetka.left{
    width:300px ;
    left: 0;
  }
  @keyframes vetka1{
    0%{
      transform: translateY(0%);
    }
    50%{
      transform: translateY(15%);
    }
    100%{
      transform: translateY(0);
    }
  }
  @keyframes vetka2{
    0%{
      transform: translateY(0%);
    }
    50%{
      transform: translateY(-15%);
    }
    100%{
      transform: translateY(0);
    }
  }
  .anim{
    width: 80%;
  }
  .advantages .listok2{
    left: 0;
    
  }
  .whyWe .listok1 {
    top: -150px;
    left: 6%;
}

.intro_left_item h1{
  font-size: 120px;
}
.intro_right_inner{
  margin-top: 250px;
  position: relative;
  margin-left: 50px;
  z-index: 3;
}
.intro_rostok{
  left: 5%;
}
.header_intro{
  right: 0;
}
}
@media (max-width:1450px ){
  .intro_rostok{
    left: 0;
  }
  .advantages .listok2{
    top: 50px;
    .anim{
      width: 50%;
    }
  }

  
}
@media(max-width:1178px){
  .container{
    max-width: 700px;
  }
  .intro_rostok {
    width: 700px;
    img{
      width: 100%;
      height: auto;
    }
  }
  .intro_left_item h1{
    font-size: 100px;
  }
  .intro, .intro_right{ 
    min-height: 700px;
    height: 100px;
  }
  .intro_right_inner {
    margin-top: 90px;
}
.product_slider{
  max-width: 365px;
}
.custom_btn_slider_right{
  right: 50px;
  top: 50%;
  transform: rotate(180deg) translateY(-50%);
}
.custom_btn_slider_left{
  left: 50px;
}
.sidebar_intro_btn{
  width: 70px;
  height: 230px;
  margin-left: -71px;
}
.sidebar_intro_btn button{
  width: 70px;
img{
  height: 30px;
  width: 70px;
  object-fit: contain;

}
padding: 10px 0 0 5px;
}
#search-button{
  padding-top: 20px;
 img{
  height: 30px;
}
}
.sidebar_menu_txt{
  width: 25px;
  font-size: 15px;
  height: 20px;
  line-height: 20px;
}
.header_intro_inner a {
font-size: 15px;
}
.intro_right_inner h1{
  font-size: 45px;
  line-height: 55px;
}
.intro_right_inner{
  margin-left: 80px;
}
.intro_btn{
  margin-top: 30px;

}

@keyframes moveBlocks1 {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveBlocks2 {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-100%);
  }
  66% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveBlocks3 {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
.intro_left_item{
  height: 100px;
}
.title h1{
  font-size: 45px;
  line-height: 50px;
}
.advantages_main{
  flex-wrap: wrap;
}
.whyWe{
  margin-top: 100px;
}
.whyWe_item:nth-child(3) {
  margin-top: 35px;
}
.whyWe_item{
  h1{
    font-size: 22px;
    line-height: 25px;
  }
  p{
    font-size: 14px;
    line-height: 17px;
  }
}
.slick-center{
  transform: scale(1)!important;
}
.product {
  min-height: 800px;
}
.product_title{
  margin-bottom: 0;
}
.whyWe_inner{
  min-height: 420px;
}
.anim{
  width: 60%;

}
.intro_form_label{
  height: 70px;
} 
.form_send{
  margin-top: 20px;
}
.form_intro_right {
  height: 750px;
}
.sidebar_intro.opened{
  width: 800px;
}
.header_inner_ul li a{
  font-size: 16px;
}
.recal{
  font-size: 18px;
  line-height: 17px;
}
.catalog_item_img {
  height: auto;
}
.catalog_item_img_link{
  height: auto;
}
.catalog_item{
  min-height: 375px;
}
.shop_content_catalog{
  grid-template-columns: 1fr 1fr;
}
.search_bar{
  #search-button{
    padding: 0;
  }
}
.tovar_img{
  margin-bottom: 20px;
  height: 300px;
 
}
.tovar_price{
  font-size: 25px;
  
}
.tovar_title h1{
  font-size: 40px;
  line-height: 50px;
}
.card_main_info_top li{
  font-size: 19px;
    line-height: 20px;
    margin-bottom: 10px;
}
.card_main_info_nav{
  margin-top: 30px;
}
.card_main_info_about p{
  font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
  width: 100%;
}
.card_main_info_about span{
  font-size: 17px;
  line-height: 21px;
}
.card_about_title{
  h1{

    font-size: 44px;
    line-height: 20px;
  }
 
}
.card_recom_title h1{
  font-size: 44px;
}
.card_about p{
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 22px;
}
}
@media(max-width:1025px){
  .form_intro_right{
    padding: 70px 30px 0;
  } 
  .burger{
      position: absolute;
      display: block;
      z-index: 9;
      top: 100px;
      left: 100px;
  }
  .sidebar_intro,{
    z-index: 10;
  }
  .header_intro, .header{
    position: absolute;
    left: 50%;
    height: 100vh;
    transform: translateX(-50%);    
    right: auto;
    background: #fff;
    width: 100vw;
    top: -20000px;
    z-index: 8;

  }
  .header_intro.active, .header.active{
    top: 0;

  }
  .header_inner{
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
  }
  .header_inner_ul{
    flex-direction: column;
    gap: 20px;
  
    
      li{
a{

  text-align: center;
  color: #5A3215;
  font-size: 30px;
}
      }
    
    
  }
  .recal{
    font-size: 30px;
    background: #5A3215;
      color: #fff;
      
  }

  .header_intro_inner {
  margin: 0 auto;
    flex-direction: column;
    a{
      text-align: center;
      color: #5A3215;
      font-size: 30px;
    }
    a:last-child{
      background: #5A3215;
      color: #fff;
    }
  }
  .intro_left {
    height: 600px;
    width: 100%;
    min-height: unset;
    position: unset;
  }
  .intro_right{
    position: unset;
    height: 100%;
    width: 100%;
    z-index: 2;
    min-height: 355px;
    height: 520px;
  }
  .intro_left_inner{
    margin-top: 0;
  }
  .intro_inner{
    flex-direction: column;
  }
  .intro_left_inner{
    justify-items: center;
 
  }

  .intro_right_inner{
    position: unset;
    z-index: none;
    h1{
      position: absolute;
      top: 130px;
      left: 50%;
      transform:translateX(-50%);
      color: rgba(112, 51, 51, 1);
      width: 380px;
      font-size: 34.732px;
      line-height: 42px;
       }
       p{
        width: 380px;
        position: absolute;
        top: 220px; 
        left: 50%;
        transform:translateX(-50%);
        display: inline-block;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #5A3215;
       }
    margin: 0 auto;
   
  }
 
  .intro_dirt_bottom{
    bottom: 50%;
  }
  .intro_right{
    z-index: unset;
  }
  .intro_rostok{
    width: 555px;
    bottom:100px;
    left: 50%;
    transform: translateX(-50%);
  }
  .intro_left_item h1{
font-size: 85.2695px;
line-height: 104px;


  }
  
.intro_left_item{
  height: 69px;
}
.intro_left{
  height: 580px;
}
.intro_left_inner{
  margin-top: 331px;
  overflow: hidden;
margin-left: 0;
}
.intro_dirt_bottom{
  display: none;
}
.intro_rostok{
  width: 420px;
  transform: scale(1.4) translateX(-35%,);
  margin-bottom: 0px;
}
.btn{
  width: 300px;
  height: 75px;
  span{

    font-size: 22.5288px;
    line-height: 27px;
  }
} 
.intro{
  height: 1010px;
}
.intro_right_inner .btn{
  margin:320px auto 0;
}
.catalog_btn{
  gap: 15px;
  .btn{

    span{
      font-size: 18px;
    }
  }
  }
  .shop_accordion-content ul{
    padding: 0 20px;
  }
  .shop_accordion{
    min-height: 250px;
  }
}
@media (max-width: 800px){
  .recomen_slider_item{
    max-width: 170px;
    min-height: 200px;
    h2{
      font-size: 15px;
    }
  }
  .recomen_slider{
    height: 320px;
    margin-bottom: 100px;
  }
  .product{
    min-height: 815px;
  }
  .advantages_main{
    gap:0px;
  }
  .sidebar_intro.opened{
    width: 600px;
  }
  .submenu_full_favorite{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .form_intro_inner{
    flex-direction: column-reverse;
  }
  .form_intro_right, .form_intro_left{
    text-align: center;
    width: 100%;
    height: 500px;
  }
  .form_intro{
    height: 1000px;
  }
  .form_intro_left img{
    right: auto;
    left: 0;
    width: 70%;
  }
  .form_title{
    font-size: 30px;
    line-height: 35px;
  }
  .intro_form_label{
    margin: 0 auto 20px;
    height: 55px;
    width: 320px;
  }
  .intro_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
   
  }
  .form_subtitle{
    font-size: 20px;
  }
  .form_send{
    margin: 0 auto;
    text-align: center;
    width: 320px;
    font-size: 20px;
    height: 70px;
  }
  .catalog_btn span{
    font-size: 15px;
  }
  .catalog_btn img{
    width: 20px;
    height: 20px;
  }
  .card_main_info_nav{
    flex-direction: column;
  }
  .card_main_info_nav a:first-child{
    border-radius: 20px 20px 0 0;
  }
  .card_main_info_nav a:last-child{
    border-radius: 0 0 20px 20px;
    
  }
  .card_main_info_nav a{
    border: none;
  }
  .tovar_img{
    height: auto;
  }
}
@media (max-width:428px){
  .burger {
    top: 50px;
    left: 30px;
}
.intro_left_inner{
justify-items: flex-start;
}
.title h1{
  text-align: center;
  font-size: 25px;
line-height: 30px;
}
.container{
  max-width: 380px;
}
.whyWe_inner{
  justify-content: unset;
  flex-direction: column;
  align-items: center
  ;
  padding-top: 20px;
  background: url('../img/dest/whyWe/line_mob.svg') center 100px /contain no-repeat;
}
.whyWe_item{
  max-width: 200px;
  margin: 0!important;
  img{
    width: 40px;
    height: 40px;
  }

  h1{
    font-size: 18px;
    line-height: 22px; 
  }
  p{
    font-size: 12px;
line-height: 14px;
  }
}
.whyWe_item:first-child, .whyWe_item:last-child{
  margin-left: auto;
 
    
  img{
    order: 1;
  }
  h1{
    order: 2;

  }
  p{
    order: 3;
  }
}
.whyWe_item:first-child{
  transform: translate(50px, 15px);
}
.whyWe_item:nth-child(2){
  transform: translate(-60px,0px);
}
.whyWe_item:last-child{
  transform: translate(50px, 0);
}
.intro_anim.listok3{
  img{

    width: 20%;
  }
}
.product{
  margin-top: 70px;
}
.anim_vetka.right img,.anim_vetka.left img{
  width: 150px;

}
.product_slider_item{
  max-width: 270px;
  margin: 0 auto;
}
.product_slider{
  width: 300px;

}
.custom_btn_slider_left, .custom_btn_slider_right{
  top: 50%;
  width: 45px;
  height: 45px;

}
.custom_btn_slider_right{
  right: 35px;
  transform: rotate(180deg) translateY(50%);
}
.custom_btn_slider_left{
  left: 35px;
}
.product_slider_item_info h1{
  font-size: 19.1096px;
line-height: 22px;
}
.product_slider_item_info a{
  width: 22px;
  height: 22px;
}
.product_slider_item_info{
  margin-bottom: 25px;
}
.product_slider_item:before{
  height: 150px;
}
.product{
  min-height: 510px;
}
.sidebar_intro_btn button{
  width: 45px;
}
#shop-button img{
  margin-left: 0;
}
.sidebar_intro_btn{
  margin-left: -45px;
  width: 45px;
  height: 210px;
}
.sidebar_intro_btn button img{
  height: 25px;
  width: 40px;
}
#search-button img{
  height: 25px;
}
.sidebar_intro.opened{
  width: 350px;
  height:260px ;
}
.submenu_title {
  h3{

    font-size: 22px;
    line-height: 28px;
  }
  img{
    width: 15px;
    height: 15px;
  }
  }
.submenu_empty_txt h1{

  font-size: 17px;
  line-height: 21px;
  
}
.submenu_empty_txt {
  width: 280px;

}
.submenu_empty_txt p{
  font-size: 11px;
line-height: 13px;
}
.submenu_empty_txt .btn{
  width:130px ;
  height: 35px;
  span{
  font-size: 13.2138px;
line-height: 16px;
    width: 130px;


}
}
.submenu_full_favorite{
  height: 200px;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  margin: 0 auto;
}

.submenu_full_favorite_item{
  margin: 20px auto 0;
  img{
   width: 110px;
   height:130px ;
    
}
.btn{
  width: 109.02px;
height: 28.11px;
span{
  font-size: 10.592px;
line-height: 13px;
}
}
}
.submenu_full_favorite_item .btn_close{
  top: 5px;
    right: 5px;
}
.search_bar_popup{
  height: 115px;
}
.search_bar.popup{
  margin: 25px auto 0;
}
.recomen_slider_item {
  max-width: 115px;
  min-height: 155px;
}
.recomen_slider{
  padding-left: 0;
  margin-bottom: 50px;
}
.form_intro_right{
  height: 600px;
  background: url('../img/dest/form/fog.png') left -200px bottom/cover no-repeat, #ADC430;
}
.form_intro_left img{
  width: 100%;
  left: -15px;
  bottom: 200px;
  transform: scale(1.3);
}
.form_intro .listok1{
  top: 0;
}
.form_intro .malina2{
  right: 50%;
  top: 50%;
}
.form_title{
  font-size: 20px;
}
.form_subtitle{
  font-size: 14px;
}
.intro_form_label{
  input{
    
    font-size: 10px;
    width: 250px;
  }
  border-radius: 18.0717px;
}
.intro_anim.listok2{
  top: 30%;
}
.form_intro .listok2{
  top: 80%;
  right: -20%;
  left: auto;
}
.catalog_intro_title h1{
  font-size: 40px;
}
.catalog_intro_inner_item:first-child a:not(:first-child),.catalog_intro_inner_item:last-child a:not(:first-child){
  transform: none;
}
.catalog_intro_inner_item a{
  width: 160px;
}
.shop_inner{
  flex-direction: column;
}
.shop_price_slider{
  max-width: 100%;
}
.shop_filter{
  min-height: 0;
}
.shop_accordion, .shop_price_slider{
  display: none;
}
.shop_accordion.active,  .shop_price_slider.active{
  display: block;
}
.search_bar{
  .search_btn{
    img{
      width:25px ;
    }
  }
}
.card_main_info{
  flex-direction: column;
}
.card_main_info_inner{
  width: 100%;
}
.card_main_tovar{
  .btn{
    margin-top: 50px;
  }
}
}
@media (max-width: 376px){
  .submenu_intro {
    padding: 15px 20px;
  }
  .sidebar_intro.opened{
    width: 315px;
  }
  .submenu_empty{
    justify-content: flex-start;
  }
  .intro_right_inner h1, .intro_right_inner p{
    text-align: center;
  }
  .advantages_item_txt {
    h2{

      font-size: 25px;
      line-height: 16px;
    }
    p{
      font-size: 14px;
    line-height: 16px;
    }
  }
  .advantages_item_img {
    -webkit-transform: scale(2.2) translate(-5%, -15%);
    transform: scale(1.5) translate(-5%, 0%);
}
.title h1{
  font-size: 21px;
}
.advantages_item:hover{
  transform: none;
}
.catalog_item_img{
  max-width: 150px;
}
.catalog_item{
  max-width: 150px;
  margin: 25px auto 0;
}
.container{
  max-width: 350px;
  padding: 0 10px;
}
.tovar_title h1{
  font-size: 25px;
}
}
@media (max-width:322px){
  .intro_right_inner h1{
    font-size: 28px;
  }
  .intro_form_label {
    width: 215px;
  }
  .form_send{
    width: 215px;
  }
  .intro_left_item h1{
    font-size: 68px;
  }
  .catalog_intro_inner_catalog{
    gap:10px;
  }
  .catalog_intro_inner_item a{
    width: 120px;
  }
}